.librarySong {
  width: 100%;
  height: 80px;
  display: flex;
  cursor: pointer;
  padding: 10px;
}
.song-desc {
  color: #47e5bc;
  margin-left: 10px;
}
.librarySong:hover {
  background-color: #8f328f;
}
.libraryAlbumImage {
  width: 60px;
  height: 60px;
}
