.nav {
  height: 70px;
  display: flex;
  width: 100%;
  justify-content: space-around;
  background-color: #531253;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  border-bottom: 3px solid #47e5bc;
  z-index: 90;
}
.nav > h1 {
  font-family: "Hachi Maru Pop", cursive;
  color: #47e5bc;
}
.library-toggle {
  font-size: 50px !important;
  cursor: pointer;
  color: #47e5bc !important;
}
