.player {
  min-height: 20vh;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 110%);
}
.time-control {
  width: 50%;
  display: flex;
}
.time-control > input {
  width: 100%;
  -webkit-appearance: none;
  cursor: pointer;
  background: transparent;
}
.time-control > p {
  padding: 1rem;
}
.play-control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  width: 30%;
}
.skipIcon {
  font-size: 60px !important;
}
