.song-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -60%);
  text-align: center;
}
.song-container > img {
  border-radius: 50%;
  height: 400px;
}
.song-container > h2 {
  color: #333;
}
.song-container > h3 {
  color: #555;
}
@media (max-width: 420px) {
  .song-container > img {
    height: 300px;
  }
}
.spiningImage {
  animation: spinCover 5s ease infinite;
}
@keyframes spinCover {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
